.add-map {
  text-align: left;
}

.add-map .add-map__button {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
}

.add-map__modal {
  text-align: center;
}

.add-map__modal__close {
  position: absolute;
  right: 32px;
  top: 9px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.add-map__modal__close:hover {
  opacity: 1;
}
.add-map__modal__close:before, .add-map__modal__close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.add-map__modal__close:before {
  transform: rotate(45deg);
}
.add-map__modal__close:after {
  transform: rotate(-45deg);
}
