.search {
  width: 59%;
  margin: 40px auto 0;
}

@media (max-width: 768px) {
  .search {
    width: 77%;
  }
}

.search .search__input {
  border-radius: 5px;
  font-size: 22px;
  height: 40px;
  width: 100%;
}
