.map-manager {
  flex: 1;
  margin-left: 10px;
}

.map-manager-markers {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.map-manager-markers__item {
  flex: 1 0 40%;
  margin: 5px;
}

.map-manager-markers__item__address {

}

